* {
    margin: 0;
    padding: 0;
    border: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffc95b;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    color: #000000;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

input {
    display: none;
}

.top {
    flex-shrink: 0;
    width: 100%;
    height: 5rem;
    border: 0.2rem solid #000000;
    border-bottom: 0;
    background: url('img/background-top.png') top center / contain no-repeat;
    background-size: 100% auto;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: 0.2rem solid #000000;
    border-top: 0;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    z-index: 1;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.slider-images-container {
    overflow: hidden;
    border-radius: 1rem;
}

.slider-images-inner-container {
    display: flex;
    width: 500%;
    transition: transform 0.5s;
}

.slide-img {
    width: 20%;
}

.slider-bottom-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    height: 10rem;
    padding: 2rem 0 2rem;
    background-color: #ffc95b;
    overflow: hidden;

}

.slider-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0.3rem;
}

.slide-text {
    width: 100%;
    display: none;
}


.slider-controls-container {
    display: flex;
}

.slider-dot-label {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point {
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid;
    border-color: #000000;
    border-radius: 50%;
    transition: all 0.5s;
}

.slider-dot-label:hover .point {
    border-color: #c54123;
    transition: all 0.2s;
}

.slider-dot-label:active .point {
    background-color: #c54123;
    border-color: #c54123;
    transition: all 0.2s;
    transform: scale(1.5)
}

#slide1:checked ~ .slider-bottom-container .slider-controls-container #dot1 .point,
#slide2:checked ~ .slider-bottom-container .slider-controls-container #dot2 .point,
#slide3:checked ~ .slider-bottom-container .slider-controls-container #dot3 .point,
#slide4:checked ~ .slider-bottom-container .slider-controls-container #dot4 .point,
#slide5:checked ~ .slider-bottom-container .slider-controls-container #dot5 .point {
    background-color: #c54123;
    border-color: #c54123;
}

.pictures {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 100%;
    height: 17rem;
    background: url('img/table.png') bottom left / contain no-repeat, url(img/dog.png) bottom right / contain no-repeat;
    z-index: -1;
}

/* image animation */

#slide1:checked ~ .slider-images-container .slider-images-inner-container {
    transform: translateX(0);
}

#slide2:checked ~ .slider-images-container .slider-images-inner-container {
    transform: translateX(-20%);
}

#slide3:checked ~ .slider-images-container .slider-images-inner-container {
    transform: translateX(-40%);
}

#slide4:checked ~ .slider-images-container .slider-images-inner-container {
    transform: translateX(-60%);
}

#slide5:checked ~ .slider-images-container .slider-images-inner-container {
    transform: translateX(-80%);
}

/* text animation */

#slide1:checked ~ .slider-bottom-container .slide-text:nth-child(1) {
    display: block;
    animation: 0.5s ease-in-out show-text;
}

#slide2:checked ~ .slider-bottom-container .slide-text:nth-child(2) {
    display: block;
    animation: 0.5s ease-in-out show-text;
}

#slide3:checked ~ .slider-bottom-container .slide-text:nth-child(3) {
    display: block;
    animation: 0.5s ease-in-out show-text;
}

#slide4:checked ~ .slider-bottom-container .slide-text:nth-child(4) {
    display: block;
    animation: 0.5s ease-in-out show-text;
}

#slide5:checked ~ .slider-bottom-container .slide-text:nth-child(5) {
    display: block;
    animation: 0.5s ease-in-out show-text;
}

@keyframes show-text {
    from {
        opacity: 0;
        transform: translateX(-1rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 0.8em;
    }

    .slider-wrapper {
        width: 55%;
    }

    .top {
        background-size: 110% auto;
    }

    body {
        font-size: 1.6em;
    }
}

@media (max-width: 980px) {
    .wrapper {
        flex-direction: column;
    }

    .slider-bottom-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 12rem;
        gap: 1rem;
        text-align: center;
    }

    .slider-wrapper {
        order: -1;
        width: 80%;
        flex-grow: 1;
    }

    .table {
        display: none;
    }

    .top {
        height: 7rem;
        background-size: 150% auto;
    }
    
    .pictures {
        position: relative;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 0.7em;
    }

    .top {
        background-size: 300% auto;
    }

    body {
        font-size: 1.8em;
    }

    .slider-bottom-container {
        height: 14rem;
    }
}