* {
    margin: 0;
    padding: 0;
    border: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffc95b;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    color: #000000;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.top {
    flex-shrink: 0;
    width: 100%;
    height: 5rem;
    border: 0.2rem solid #000000;
    border-bottom: 0;
    background: url('img/background-top.png') top center / contain no-repeat;
    background-size: 100% auto;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    border: 0.2rem solid #000000;
    border-top: 0;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.slider-container {
    overflow: hidden;
    border-radius: 1rem;
}

.slider-inner-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 700%;
    transition: all 0.5s;
}

.slide {
    display: block;
    width: calc(100% / 7);
    height: 100%;
}

.slider-controls-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 2rem 0 2rem;
    background-color: #ffc95b;
    overflow: hidden;
}

.text-container {
    width: 100%;
    overflow-x: hidden;
}

.text-inner-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 700%;
    transition: all 0.5s;
}

.text-inner-container p {
    width: calc(100% / 7);
    padding-top: 0.3rem;
}

.dots-container {
    display: flex;
}

.dots-container > .dot {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer {
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid;
    border-color: #000000;
    border-radius: 50%;
}

.dot.active .pointer{
    background-color: #c54123;
    border-color: #c54123;
    transition: all 0.2s;
}

.dot:hover .pointer {
    border-color: #c54123;
    transition: 0.2s;
}

.table {
    flex-shrink: 0;
    width: 17rem;
    height: 17rem;
    margin-top: auto;
    background: url('img/table.png') bottom left / contain no-repeat;
}

.dog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self: end;
    width: 17rem;
    height: 17rem;
    margin-top: auto;
    background: url(img/dog.png) bottom right / contain no-repeat;
}

.eye {
    position: relative;
    border-radius: 50%;
}

.eye:first-child {
    width: 2.3rem;
    height: 2.3rem;
    top: 1rem;
    left: 2.8rem;
}

.eye:last-child {
    width: 2.6rem;
    height: 2.6rem;
    top: 1.6rem;
    left: 2.8rem;
}

.eye:after {
    content: " ";
    top: 0;
    left: 0;
    position: relative;
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    background: #171312;
    border-radius: 50%;
}

@media (max-width: 1280px) {
    html {
        font-size: 0.8em;
    }

    .slider-wrapper {
        width: 55%;
    }

    .top {
        background-size: 110% auto;
    }

    body {
        font-size: 1.6em;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 1em;
    }

    .slider-controls-container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .wrapper {
        flex-direction: column;
    }

    .slider-wrapper {
        order: -1;
        width: 80%;
        flex-grow: 1;
    }

    .table {
        display: none;
    }

    .top {
        background-size: 150% auto;
    }
}

@media (max-width: 420px) {
    .top {
        background-size: 300% auto;
    }

    body {
        font-size: 1.4em;
    }
}